@media (max-width: 570px) {
    .body-grid_res {
        grid-template-areas: 
        "header_g"
        "section_g"
        "div_g"
        "footer_g"
        ;
        grid-template-columns: 1fr;
    }
    .section-grid {
        text-align: center;
    }
}
@keyframes mover {
    from {
       font-size: 5px;
    }
}
@keyframes mover2 {
    from {
       padding-top: 300px;
    }
}
@keyframes mover3 {
    from {
       width: 20px;
    }
}