.a--nav {
    padding: 0 20px;
    border-radius: 20px;
    color: $color-principal;
    text-decoration: none;
    font-size: 25px;
    margin: 0 30px;
    &:hover {
        color: $color-secundario;
        background-color: $color-principal; 
        box-shadow: 0 0 10px #850068;
    }
}
.imagen--fondo__main {
    width: 100%;
    height: 600px;
    background-image: url(../images/fondomain.jpg);
    text-align: center;
}
.img--principal {
    width: 275px;
    margin-top: 50px;
    animation-name: mover3;
    animation-duration: 0.5s;
}
.p--main {
    user-select: none;
    color: $color-principal;
    font-size: 50px;
    margin: 20px;
}
.a--main__iniciar {
    text-decoration: none;
    color: white;
    background-color: $color-principal;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 50px;
    margin: 20px;
    &:hover {
        background-color: $color-secundario;
        color: $color-principal;
    }
}
#h2--section {
    margin: 20px 0 40px 0;
    text-align: center;
    color: $color-principal;
    font-size: 50px;
    user-select: none;
}
.article--section__main {
    margin-bottom: 20px;
    color: $color-principal;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    a {
        margin-top: 10px;
        text-decoration: none;
        color: $color-principal;
        p {
            margin-top: 10px;
        }
}
}
.footer-p {
    background-color: $color-secundario;
    text-align: center;
    color: $color-principal;
    margin-bottom: 0;
}
.footer-flex {
    display: flex;
    justify-content: space-evenly;
    background-color: $color-secundario;
    color: $color-principal;
    margin-top: 10px;
    padding: 5px;
}
.footer-a {
    text-decoration: none;
    background-color: $color-secundario;
    color: $color-principal;
    &:hover {
        border-bottom: 2px solid $color-principal;
        color: $color-principal;
    }
}
.div-footer_centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section--flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}
.h2-login {
    margin: 50px 0 20px 0;
    text-align: center;
    color: $color-principal;
    font-size: 50px;
    user-select: none;
    animation-name: mover;
    animation-duration: 0.5s;
}
.div--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.name--input {
    color: $color-principal;
    padding: 10px;
    border: none;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
}
.name--email {
    color: $color-principal;
    padding: 10px;
    border: none;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
}
.div--flex__1 {
    margin: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: center;
    p {
        padding: 5px 10px;
        user-select: none;
    }
}
.name--submit {
    padding: 0 20px;
    font-size: 50px;
    background-color: white;
    border: 3px solid $color-principal;
    cursor: pointer;
    border-radius: 10px;
    &:hover {
        border: none;
        background-color: $color-principal;
        color: white;
        box-shadow: 0 0 10px $color-principal;
    }
}
.main--h2__contacto {
    margin: 50px 0 20px 0;
    text-align: center;
    color: $color-principal;
    font-size: 50px;
    user-select: none;
    animation-name: mover;
    animation-duration: 0.5s;
}
.contacto--form__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name--input__contacto {
    margin: 20px;
    color: $color-principal;
    padding: 10px;
    border: none;
    background-color: white;
    border-radius: 5px;
}
.textarea--contacto {
    color: $color-principal;
    padding: 10px;
    border: none;
    background-color: white;
    border-radius: 5px;
}
.submit--contacto {
    margin: 30px;
    padding: 0 10px;
    font-size: 30px;
    color: white;
    background-color: $color-principal;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    &:hover {
        border: none;
        background-color: $color-principal;
        color: white;
        box-shadow: 0 0 10px $color-principal;
    }
}
.numero--contacto {
    margin: 20px;
    background-color: $color-principal;
    color: white;
    padding: 5px 20px;
    font-size: 25px;
    border-radius: 25px;
}
.contacto-flex {
    @extend .footer-flex;
    margin-top: 25px;
}
.p--focus {
    background-color: $color-principal;
    color: white;
    padding: 0 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 25px;
    margin: 0 30px;
    cursor: pointer;
    user-select: none;
    &:hover {
        color: white;
    }
}
.div-reseñas_flex {
    display: flex;
    flex-flow: row wrap;
    margin: 20px;
    justify-content: space-evenly;
}
.card-flex_reseña {
    background-color: $color-principal;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
.bg-personal {
    background-color: $color-secundario;
}
.a-nav_con {
    @extend .a--nav;
    &:hover {
        padding: 3px 20px;
    }
}
.header-grid {
    grid-area: header_g;
}
.div-grid {
    grid-area: div_g;
}
.footer-grid {
    grid-area: footer_g;
    background-color: $color-secundario;
}
.section-grid {
    grid-area: section_g;
    background-color: $color-secundario;
    color: $color-principal;
    padding: 200px 50px; 
    h1 {
        justify-content:safe;
        animation-name: mover2;
        animation-duration: 0.5s;
        font-size: 35px;
        margin-bottom: 20px;
    }
}
.body-grid_res {
    display: grid;
    grid-template-areas: 
    "header_g header_g"
    "section_g div_g"
    "footer_g footer_g"
    ;
    grid-template-columns: 1fr 2fr;
}
.div-reseñas_f2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.estrella-reseñas {
    width: 30px;
    color: $color-principal;
    padding: 0 5px 0 5px;
}.h2-reseñas {
    text-align: center;
    margin-top: 5px;
    padding: 0 5px 0 5px;
    font-size: 20px;
}
.h3-res {
    font-size: 20px;
    color: $color-principal;
    margin: 5px;
    text-align: center;
}
.a-reseñas {
    @extend .submit--contacto;
    text-decoration: none;
    padding: 5px 12px;
}
.img-fiesta {
    width: 450px;
    border: 1px solid $color-principal;
    border-radius: 10px;
    z-index: 100;
}
.fiesta-div_flex {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px 20px 20px 40px;
    background-color: $color-secundario;
    color: $color-principal;
    border-radius: 10px;
    margin-left: -20px;
    h1 {
        animation-name: mover;
        animation-duration: 0.4s;
    }
    p {
        margin-top: 20px;
    }
    h2 {
       margin-top: 200px
    }
}
.fiesta-main_flex {
    padding: 50px 200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.img-fiesta2 {
    @extend .img-fiesta;
    width: 300px;
}
