@media (max-width: 570px) {
    .body-grid_res {
        grid-template-areas: 
        "header_g"
        "section_g"
        "div_g"
        "footer_g"
        ;
        grid-template-columns: 1fr;
    }
    .section-grid {
        text-align: center;
    }
    .footer-flex {
        flex-direction: column;
    }
}
@media (max-width: 750px) {
    .fiesta-div_flex {
        text-align: center;
        padding: 20px;
        margin-left: 0;
        margin-top: -10px;
    }
    .fiesta-main_flex {
        flex-flow: column nowrap;
        padding: 20px;
        margin: 25px 10px;
        align-items: center;
        h2 {
            margin-top: 30px;
        }
    }
    .img-fiesta {
        width: 350px;
    }
    .ul-modificado {
        margin-top: 15px;
        margin-left: -30px;
        padding-right: 300px;
    }
}
@media (min-width: 751px) and (max-width: 991px) {
    .fiesta-div_flex{
        padding: 40px;
        h1 {
            font-size: 25px;
        }
        h2 {
            font-size: 25px;
            margin-top: 100px;
        }
    }
    .img-fiesta {
        width: 250px;
    }
    .fiesta-main_flex {
        padding: 50px;
    }
    .a--nav:hover {
        color: $color-principal;
        background-color: $color-secundario; 
        box-shadow: none;
    }
    .p--focus {
        background-color: $color-principal;
        color: $color-secundario;
        &:hover {
            color: $color-secundario;
        }
    }
    .ul-modificado {
        margin-top: 15px;
        margin-left: -30px;
        padding-right: 300px;
    }
}